nav {
    display: flex;
    justify-content: flex-end;
}
.menu-item {
    margin-right: 20px;
    cursor: pointer;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.creditCardButton {
    margin-top: 5px;
}

@media only screen and (max-width: 480px){
    body {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 480px){
    .about-me {
      width: 270px;
    }
  }